import("exams", "graphics", "tools")
importFrom("grDevices", "hcl")
importFrom("stats", "median", "na.omit")
importFrom("utils", "browseURL", "head", "read.csv2", "read.table", "tail", "write.table", "zip")

export(
  ## exams interfaces
  "exams2nops",
  "exams2olat",
  "exams2openolat",
  "exams2quiz",

  ## reading VIS registration lists
  "read_vis",
  "vis_register",

  ## tools for administering NOPS and OLAT exams
  "nops_register",
  "nops_eval",
  "nops_itemresp",
  "nops_zip2tab",
  "olat_eval",
  "olat_exercise",

  ## formatters
  "mchoice2text",
  "uibkmark"  
)
