<!doctype html>
<html class="no-js" lang="en">
<head>
		<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>regression: Simple Linear Regression (by Hand)</title>
	<link rel="stylesheet" type="text/css" href="http://www.R-exams.org/assets/css/styles_feeling_responsive.css" />
	<script src="http://www.R-exams.org/assets/js/modernizr.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: [ 'Lato:400,700,400italic:latin', 'Noto+Serif:400,700,400italic:latin' ]
      }
    });
  </script>

  <noscript>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Volkhov' rel='stylesheet' type='text/css' />
  </noscript>

  
	
	<meta name="description" content="Exercise template for computing the prediction from a simple linear prediction by hand, based on randomly-generated marginal means/variances and correlation." />

	

	
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/manifest.json">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#1f7a7a">
<link rel="shortcut icon" href="/assets/icons/favicon.ico">
<meta name="apple-mobile-web-app-title" content="R/exams">
<meta name="application-name" content="R/exams">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
<meta name="theme-color" content="#1f7a7a">


	<!-- Facebook Optimization -->
	<meta property="og:locale" content="en_EN" />
	
	<meta property="og:title" content="regression: Simple Linear Regression (by Hand)" />
	<meta property="og:description" content="Automatic generation  and evaluation of exams. From Markdown, LaTeX and R code to standalone documents, learning management systems and live voting." />
	<meta property="og:url" content="http://www.R-exams.org//templates/regression/" />
	<meta property="og:site_name" content="R/exams" />
	<meta property="og:image" content="http://www.R-exams.org/images/regression.small.png" />

	

	<!-- Search Engine Optimization -->
	

	<link type="text/plain" rel="author" href="http://www.R-exams.org/humans.txt" />

	

	
</head>

</head>
<body id="top-of-page" class="post">
	
	
<div id="navigation" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar>
    <ul class="title-area">
      <li class="name">
          <a href="http://www.R-exams.org">
            <img class='nav-logo' src="http://www.R-exams.org/assets/img/logo.svg" alt="R/exams">
          </a>
          <!-- <h1 class="show-for-small-only"><a href="http://www.R-exams.org" class="icon-tree"> R/exams</a></h1> -->
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Navigation</span></a></li>
    </ul>
    <section class="top-bar-section">

      <ul class="left">
        

              

          
          

            
            

              <li class="has-dropdown">
                <a href="http://www.R-exams.org/">R/exams</a>

                  <ul class="dropdown">
                    

                      

                      <li><a href="http://www.R-exams.org/intro/elearning/">E-Learning</a></li>
                    

                      

                      <li><a href="http://www.R-exams.org/intro/oneforall/">One-for-All</a></li>
                    

                      

                      <li><a href="http://www.R-exams.org/intro/written/">Written Exams</a></li>
                    

                      

                      <li><a href="http://www.R-exams.org/intro/dynamic/">Dynamic Exercises</a></li>
                    
                  </ul>

              </li>
              <li class="divider"></li>
            
          
        

              

          
          

            
            
              <li><a href="http://www.R-exams.org/tutorials/">Tutorials</a></li>
              <li class="divider"></li>

            
            
          
        

              

          
          

            
            
              <li><a href="http://www.R-exams.org/templates/">Exercise Templates</a></li>
              <li class="divider"></li>

            
            
          
        

              

          
          

            
            
              <li><a href="http://www.R-exams.org/blog/">Blog</a></li>
              <li class="divider"></li>

            
            
          
        

              

          
          
        

              

          
          
        

              

          
          
        
        
      </ul>

      <ul class="right">
        

              

          
          
        

              

          
          
        

              

          
          
        

              

          
          
        

              

          
          
            
            
              <li class="divider"></li>
              <li><a href="http://www.R-exams.org/resources/">Resources</a></li>

            
            
          
        

              

          
          
            
            
              <li class="divider"></li>
              <li><a href="http://www.R-exams.org/contact/">Contact</a></li>

            
            
          
        

              

          
          
            
            
              <li class="divider"></li>
              <li><a href="http://www.R-exams.org/search/">Search</a></li>

            
            
          
        
        
      </ul>
    </section>
  </nav>
</div><!-- /#navigation -->

	

	

<!-- <div id="masthead-no-image-header"> -->
	<!-- <div class="row"> -->
		<!-- <div class="small-12 columns"> -->
			<!-- <a id="logo" href="http://www.R-exams.org" title="R/exams – The One-for-All Exams Generator"> -->
				<!-- <img src="http://www.R-exams.org/assets/img/logo.svg" alt="R/exams – The One-for-All Exams Generator"> -->
			<!-- </a> -->
		<!-- </div>[> /.small-12.columns <] -->
	<!-- </div>[> /.row <] -->
<!-- </div>[> /#masthead <] -->










	<div class="row t30">
	<div class="columns medium-10 medium-offset-1 end">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				

				<span itemprop="name">
					
					<h1>regression: Simple Linear Regression (by Hand)</h1>
				</span>
			</header>


			
			<p class="teaser" itemprop="description">
				Exercise template for computing the prediction from a simple linear prediction by hand, based on randomly-generated marginal means/variances and correlation.
			</p>
			

			<span itemprop="articleSection">
			<div class="row t1 b1">
  <div class="medium-4 columns"><b>Name:</b></div>
  <div class="medium-8 columns"><code class="highlighter-rouge">regression</code></div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>Type:</b></div>
  <div class="medium-8 columns"><a href="http://www.R-exams.org/tag/num/"><code class="highlighter-rouge">num</code></a></div>
</div>

<div class="row t20 b1">
  <div class="medium-4 columns"><b>Description:</b></div>
  <div class="medium-8 columns">Computing coefficients and a point prediction from a simple linear prediction (by hand). Internally, a full bivariate data set is simulated but only the marginal means and variances and the correlation coefficient are presented in the exercise.</div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>Solution feedback:</b></div>
  <div class="medium-8 columns">Yes</div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>Randomization:</b></div>
  <div class="medium-8 columns">Random numbers</div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>Mathematical notation:</b></div>
  <div class="medium-8 columns">Yes</div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>Verbatim R input/output:</b></div>
  <div class="medium-8 columns">No</div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>Images:</b></div>
  <div class="medium-8 columns">No</div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>Other supplements:</b></div>
  <div class="medium-8 columns">No</div>
</div>

<div class="row t20 b1">
  <div class="medium-4 columns"><b>Template:</b></div>
  <div class="medium-4 columns"><a href="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression.Rnw">regression.Rnw</a></div>
  <div class="medium-4 columns"><a href="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression.Rmd">regression.Rmd</a></div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>Raw:</b> (1 random version)</div>
  <div class="medium-4 columns"><a href="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression.tex">regression.tex</a></div>
  <div class="medium-4 columns"><a href="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression.md">regression.md</a></div>
</div>
<div class="row t1 b1">
  <div class="medium-4 columns"><b>PDF:</b></div>
  <div class="medium-4 columns"><a href="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression-Rnw.pdf"><img src="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression-Rnw-pdf.png" alt="regression-Rnw-pdf" /></a></div>
  <div class="medium-4 columns"><a href="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression-Rmd.pdf"><img src="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression-Rmd-pdf.png" alt="regression-Rmd-pdf" /></a></div>
</div>
<div class="row t1 b20">
  <div class="medium-4 columns"><b>HTML:</b></div>
  <div class="medium-4 columns"><a href="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression-Rnw.html"><img src="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression-Rnw-html.png" alt="regression-Rnw-html" /></a></div>
  <div class="medium-4 columns"><a href="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression-Rmd.html"><img src="http://www.R-exams.org/assets/posts/2017-08-14-regression//regression-Rmd-html.png" alt="regression-Rmd-html" /></a></div>
</div>

<p><em>(Note that the HTML output contains mathematical equations in MathML. It is displayed by browsers with MathML support like Firefox or Safari - but not Chrome.)</em></p>

<p><strong>Demo code:</strong></p>

<pre><code class="prettyprint ">library(&quot;exams&quot;)

set.seed(1090)
exams2html(&quot;regression.Rnw&quot;)
set.seed(1090)
exams2pdf(&quot;regression.Rnw&quot;)

set.seed(1090)
exams2html(&quot;regression.Rmd&quot;)
set.seed(1090)
exams2pdf(&quot;regression.Rmd&quot;)</code></pre>

			</span>

			
						<div id="page-meta" class="t30">
				<p>
					<!-- Look the author details up from the site config. -->
					
					<!-- Output author details if some exist. -->
					
					<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="pr20 icon-edit"><a href="https://eeecon.uibk.ac.at/~zeileis/" target="_blank"> Achim Zeileis</a></span>
				</span>
				

				
				<time class="icon-calendar pr20" datetime="2017-08-14" itemprop="datePublished"> 2017-08-14</time>
				

				<span class="icon-archive pr20"><a href="http://www.R-exams.org/templates/">TEMPLATES</a></span>
				<br />
				<span class="pr20"><span class="icon-price-tag pr10"><a href="http://www.R-exams.org/tag/num/">num</a></span> <span class="icon-price-tag pr10"><a href="http://www.R-exams.org/tag/numeric/">numeric</a></span> <span class="icon-price-tag pr10"><a href="http://www.R-exams.org/tag/prediction/">prediction</a></span> <span class="icon-price-tag pr10"><a href="http://www.R-exams.org/tag/regression/">regression</a></span> <span class="icon-price-tag pr10"><a href="http://www.R-exams.org/tag/statistics/">statistics</a></span> </span>
			</p>

			<div id="post-nav" class="row">
				
				<div class="small-6 columns"><a class="button small radius prev" href="http://www.R-exams.org/templates/lm/">&laquo; lm: Simple Linear Regression (with CSV Data)</a></div><!-- /.small-4.columns -->
				
        
				
				<div class="small-6 columns text-right"><a class="button small radius next" href="http://www.R-exams.org/templates/relfreq/">relfreq: Interpretation of Relative Frequency Tables &raquo;</a></div><!-- /.small-4.columns -->
				
			</div>
			</div><!--  /.page-meta -->

			

			

		</article>

    

	</div><!-- /.medium-8.columns -->


	


	
</div><!-- /.row -->


	
	    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="icon-chevron-up" href="#top-of-page"></a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="medium-6 large-5 columns">
            <h5 class="shadow-black">About This Site</h5>

            <p class="shadow-black">
              Automatic generation  and evaluation of exams. From Markdown, LaTeX and R code to standalone documents, learning management systems and live voting.
              <!-- <a href="http://www.R-exams.org/about/">More ›</a> -->
            </p>
          </div><!-- /.large-6.columns -->


          <div class="small-6 medium-3 large-3 large-offset-1 columns">
            
              
                <h5 class="shadow-black">Services</h5>
              
            
              
            
              
            
              
            

              <ul class="no-bullet shadow-black">
              
                
                  <li >
                    <a href=""  title=""></a>
                  </li>
              
                
                  <li >
                    <a href="/feed.xml"  title="Subscribe to RSS Feed">RSS</a>
                  </li>
              
                
                  <li >
                    <a href="/atom.xml"  title="Subscribe to Atom Feed">Atom</a>
                  </li>
              
                
                  <li >
                    <a href="/sitemap.xml"  title="Sitemap for Google Webmaster Tools">sitemap.xml</a>
                  </li>
              
              </ul>
          </div><!-- /.large-4.columns -->


          <div class="small-6 medium-3 large-3 columns">
            
              
                <h5 class="shadow-black">Network</h5>
              
            
              
            
              
            
              
            

            <ul class="no-bullet shadow-black">
            
              
                <li >
                  <a href=""  title=""></a>
                </li>
            
              
                <li >
                  <a href="https://CRAN.R-project.org/package=exams" target="_blank"  title="Software download">CRAN</a>
                </li>
            
              
                <li >
                  <a href="https://R-Forge.R-project.org/R/?group_id=1337" target="_blank"  title="Package development">R-Forge</a>
                </li>
            
              
                <li >
                  <a href="https://www.R-bloggers.com/" target="_blank"  title="R blog aggregator">R-bloggers</a>
                </li>
            
            </ul>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="b30 small-12 medium-6 columns credits">
            <p>
            Built with
            <a href="https://jekyllrb.com/" alt="Page built with Jekyll">
              Jekyll
            </a>
             based on
             <a href="http://phlow.github.io/feeling-responsive/" alt="Page based on Feeling Responisve Theme">
               Feeling Responsive
             </a>
              by
              <a href="http://phlow.de" alt="Theme created by Phlow">Phlow</a>.
            </p>
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns social-icons">
            <ul class="inline-list">
            
              <li><a href="mailto:info@R-exams.org" target="_blank" class="icon-mail" title="General inquiries"></a></li>
            
              <li><a href="https://CRAN.R-project.org/package=exams" target="_blank" class="icon-cran" title="R package on CRAN"></a></li>
            
              <li><a href="http://R-Forge.R-project.org/R/?group_id=1337" target="_blank" class="icon-code" title="Source code management on R-Forge"></a></li>
            
              <li><a href="http://R-Forge.R-project.org/forum/?group_id=1337" target="_blank" class="icon-chat" title="Discussion forum on R-Forge"></a></li>
            
              <li><a href="https://StackOverflow.com/questions/tagged/exams" target="_blank" class="icon-stackoverflow" title="Ask questions on StackOverflow (tag: exams)"></a></li>
            
              <li><a href="http://twitter.com/AchimZeileis" target="_blank" class="icon-twitter" title="@AchimZeileis on Twitter"></a></li>
            
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>

	

	


<script src="http://www.R-exams.org/assets/js/javascript.min.js"></script>
<script src="http://www.R-exams.org/assets/js/slick.min.js"></script>
















</body>
</html>

