<style type="text/css" rel="stylesheet">
.table_grid {
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #000000;
}
.table_grid th {
    border:2px solid #000000;
}
.table_grid td{
    border:1px solid #000000;
}
</style>
