<div class="blog-index">
  {% for post in site.posts %}
    {% assign relevant = false %}

    {% unless page.post_index.tags %}
      {% assign relevant = true %}
    {% endunless %}

    {% for tag in page.post_index.tags %}
      {% if post.tags contains tag %}
        {% assign relevant = true %}
      {% endif %}
    {% endfor %}

    {% if page.post_index.category %}
      {% unless post.categories contains page.post_index.category %}
        {% assign relevant = false %}
      {% endunless %}
    {% endif %}

    {% if relevant == true %}
      {% include _post_index_entry.html post=post %}
    {% endif %}

  {% endfor %}
</div> <!-- /.blog-index -->

