import("stats", "graphics", "tools", "utils")

export(
  ## version 1 interface
  "exams",

  ## formatters
  "mchoice2string",
  "string2mchoice",
  "mchoice2text",
  "answerlist",
  
  ## version 2 extensible interface
  "xexams",
  
  ## exercise reader and helper functions
  "read_exercise",
  "read_images",
  "read_metainfo",
  "extract_command",
  "extract_environment",
  "extract_items",

  ## new modular PDF driver
  "exams2pdf",
  "make_exams_write_pdf",

  ## LaTeX to image converter
  ## (based on ImageMagick's convert)
  "tex2image",

  ## HTML driver
  "exams2html",
  "make_exercise_transform_html",
  "make_exams_write_html",

  ## IMS QTI 1.2 driver
  "exams2imsqti12",
  "make_itembody_cloze12",
  "make_itembody_mchoice12",
  "make_itembody_num12",
  "make_itembody_num124olat",

  ## WU server driver
  "exams2wu",
  "make_exams_write_wu",

  ## Moodle driver
  "exams2moodle",
  "make_exams_write_moodle"
)

S3method("print", "exams_metainfo")
