import("stats", "graphics", "tools", "utils")

export(
  ## version 1 interface
  "exams",
  "mchoice2string",
  "string2mchoice",
  "mchoice2text",
  
  ## version 2 extensible interface (and helper functions)
  "xexams",
  "read_exercise",
  "read_images",
  "read_metainfo",
  "extract_command",
  "extract_environment",
  "extract_items",

  ## new modular PDF driver
  "exams2pdf",
  "make_exams_write_pdf",

  ## image driver
  "tex2image",

  ## html xml driver
  "exams2html",
  "exams2x",
  "make_exercise_transform_htmlimg",
  "make_exercise_transform_x",
  "make_exams_write_html",
  "make_exams_write_tex2html",
  "make_ex2x",
  "pdf2png4html",
  "tex4ht",
  "ttx",
  "show.html"
)

S3method("print", "exams_metainfo")
