:root {
  --incorrect: #983E82;
  --incorrect_alpha: #edaddd;
  --correct: #59935B;
  --correct_alpha: #c0edc2;
  --highlight: #467AAC;
}

/*---------------------ADDED-----------------------------*/
.webex-group {}

.webex-question {
   display: none;
}

.webex-question.active {
  display: block;
}

/*---------------------ADDED END--------------------------*/

.webex-check {}

.webex-box {
  border: 2px solid var(--highlight);
  padding: 0.5em 0.25em;
  margin: 1em 0;
  border-radius: .25em;
  background-color: rgba(127, 127, 127, 0.05);
}

.webex-total_correct {
  margin-left: 1em;
}

.unchecked .webex-total_correct {
  display: none;
}

.unchecked .webex-incorrect,
.unchecked .webex-correct {
  border: 2px dotted grey;
  background-color: white; 
}

/* styles for webex-solveme */
.webex-select, input.webex-solveme,
.unchecked .webex-radiogroup label.webex-incorrect,
.unchecked .webex-radiogroup label.webex-correct{
    border: 2px dotted grey;
    background-color: white;
    border-radius: 0.25em;
}

.webex-incorrect,
.webex-checkboxgroup > label.webex-incorrect,
input.webex-solveme.webex-incorrect,
.webex-radiogroup label.webex-incorrect {
    border: 2px dotted var(--incorrect);
    background-color: var(--incorrect_alpha);
    color: black;
    border-radius: 0.25em;
}
.webex-correct,
.webex-checkboxgroup > label.webex-correct,
input.webex-solveme.webex-correct,
.webex-radiogroup label.webex-correct {
    border: 2px solid var(--correct);
    background-color: var(--correct_alpha);
    color: black;
    border-radius: 0.25em;
}

.unchecked .webex-incorrect > span::after,
.unchecked .webex-incorrect + .webex-icon::after,
.unchecked .webex-correct > span::after,
.unchecked .webex-correct + .webex-icon::after {
  content: "";
}

/* icons specified as CSS decimal 9984-10175 unicode chars,
 * see e.g.: https://www.w3schools.com/charsets/ref_utf_dingbats.asp */
.webex-incorrect > span::after,
.webex-incorrect + .webex-icon::after {
  content: "\00a0\00a0\2715";
}

.webex-correct > span::after,
.webex-correct + .webex-icon::after {
  content: "\00a0\00a0\2713";
}

/* **************************** */
/* **************************** */

/* styles for hidden solutions */
.webex-solution {
    height: 2.5em;
    overflow-y: hidden;
    padding: 0.5em;
    margin-bottom: 10px;
}
.webex-solution.open {
    height: auto;
    border: 2px solid var(--highlight);
    border-radius: 5px;
}

.webex-next-button{
  margin-left: 0.5em;
}

.webex-solution button, .webex-check-button, .webex-next-button {
    height: 2em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: var(--highlight);
    color: white;
    padding: 0 0.5em;
}
.webex-solution pre.sourceCode {
    border-color: var(--correct);
}

/* invisible border to keep dimensions when not highlighted */
.webex-checkboxgroup > label,
.unchecked .webex-checkboxgroup > label,
.webex-radiogroup label {
  font-weight: 400;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: inherit;
  border-radius: 0.25em;
}

.webex-checkboxgroup label > input[type=checkbox],
.webex-radiogroup label > input[type=radio] {
  margin: 0.1em 0.5em 0 0.25em;
  position: relative;
  top: 0.125em;
}

.webex-radiogroup {
  margin: 1em 0;
}


/* ----------------------------------------------------------------
 * CSS styling for lists (<ul>) used for multiple choice exercises
 * with display = "dropdown". The <ul> comes from markdown and
 * has no specific class, thus we must rely on the nesting
 * .webex-box > ul.
 */
.webex-box > ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0.25em;
}
.webex-box > ul > li {
    margin: 0 0 0.25em 0;
}
.webex-box > ul > li > select {
    margin: 0 0.5em 0 0;
}


/* ----------------------------------------------------------------
 * CSS style for webex-checkboxgroup used for multiple choice
 * when using 'display = "buttons"'.
 *
 * For 'checkboxgroups' (multiple choice with display = "buttons"
 * things need to be different from e.g., single choice radiogroups.
 * First, we do not want the icon (correct, incorrect) in front of the answers,
 * setting span::before to no content. Second, we remove the border and
 * background highlight used to show 'selected items' on radiogroups.
 * --------------------------------------------------------------- */
.webex-checkboxgroup > label {
  display: block;
}
.webex-checkboxgroup > label > span {
  font-weight: normal;
}
.unchecked .webex-checkboxgroup > label.webex-correct,
.unchecked .webex-checkboxgroup > label.webex-incorrect {
  background-color: transparent;
}



