div.valign_o {
  display: table;
}

div.valign_i {
  display: table-cell;
  vertical-align: middle;
}

img.frontpage-topic-icon {
  height: 5em;
}

.frontpage-widget h1,
.frontpage-widget h2,
.frontpage-widget h3 {
  color: $frontpage-topic-color;
}

#masthead-slider .overlay h1,
#masthead-slider .overlay h2,
#masthead-slider .overlay h3 {
  color: $frontpage-topic-color;
}

#masthead-slider .slider-item {
  background-size:cover;
  height: 450px;
}

#masthead-slider .slider-item .overlay {
  background-color: $slider-overlay-color;
  position: relative;
  top: 300px;
}

#masthead-slider .slider-item .icon {
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

#masthead-slider .slider-item .description {
  padding-top: 1em;
  padding-bottom: 1em;
}

#masthead-slider .slider-item p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

// we dont want colored links here
#masthead-slider .slider-item a {
  color:inherit;
}

img.nav-logo {
  height:50px;
  padding:5px;
}

.blog-index span.category {
  text-transform: uppercase;
}

.blog-index span.category::before {
  content: 'Category:';
  display: inline-block;
  padding-right: 0.5em;
  text-transform: none;
}

.blog-index p {
  margin-bottom: 0.3em;
}

// this was already defined for h2 by phlow
.blog-index h3 {
  margin-top: 0;
}
